<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java10.Tmall.model.mapper.OrderItemMapper" >
	<!-- 根据oid获得所有的order item信息 -->
	<!-- 根据pid查到产品图片 -->
	<!-- 一对多查询 -->
	<select id="getOrderItems" parameterType="int" resultMap="orderitemResult">
		select o.pid, o.itemprice, o.number, p.name, p.subtitle, pi.id ppid
		from orderitem o, product p
		left outer join productimage pi on p.id=pi.pid
		where o.pid=p.id
		and o.oid=#{oid}
		order by p.id
	</select>
	<resultMap id="orderitemResult" type="orderitem">
		<result column="pid" property="pid"/>
		<result column="oid" property="oid"/>
		<result column="itemPrice" property="itemPrice"/>
		<result column="number" property="number"/>
		<association property="p" javaType="Product" resultMap="productResult" column="pid"></association>
		
	</resultMap>
	<resultMap id="productResult" type="Product">
		<result column="pid" property="id"/>
		<result column="name" property="name"/>
		<result column="subtitle" property="subTitle"/>
		<collection property="pro" ofType="ProductImage">
			<result column="ppid" property="id"/>
		</collection>
	</resultMap>
	
</mapper>
