<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java10.Tmall.model.mapper.ProductMapper" >
	
	
	<select id="selectAllProduct" resultMap="ProductRes">
		select p.id id,p.name name,ifNull(p.subTitle,"") subTitle,p.originalPrice originalPrice,p.promotePrice promotePrice,p.stock stock,
		c.name cname,pro.id proid
		from product p,category c,productimage pro
		where p.cid=c.id and p.id=pro.pid
		limit #{k_pagenum},#{k_pagesize}
		
	</select>
	<resultMap type="Product" id="ProductRes">
	<result property="id" column="id"/>
	<result property="name" column="name"/>
	<result property="subTitle" column="subTitle"/>
	<result property="originalPrice" column="originalPrice"/>
	<result property="promotePrice" column="promotePrice"/>
	<result property="stock" column="stock"/>
	
	<association property="pro" javaType="ProductImage" resultMap="PIRes"></association>
	<association property="cat" javaType="Category" resultMap="CaRes"></association>
	
	
	</resultMap>
	
	<resultMap type="ProductImage" id="PIRes">
	<result property="id" column="proid"/>
	</resultMap>
	
	<resultMap type="Category" id="CaRes">
	<result property="name" column="cname"/>
	</resultMap>
	
	<!-- 保存产品图片，并返回id -->
	<insert id="saveProductImage" parameterType="ProductImage" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into productimage(pid,type)
		values(#{pid},#{type})
	</insert>
	
	<!-- 通过pid获得产品图片id数组 -->
	<select id="getProductImages" parameterType="int" resultType="ProductImage">
		select id,type from productimage
		where pid=#{pid}
	</select>
</mapper>













