<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java10.Tmall.model.mapper.PropertyMapper" >
	
	
	<select id="selectProperty" resultType="Property">
		select * from property where id=1 
	</select>
	
	<!-- 根据cid查询属性个数 -->
	<select id="getRecords" resultType="int">
		select count(*) from property where cid=#{cid} 
	</select>
	
	<select id="getPropertyByCategory" parameterType="map" resultType="Property">
		select * from property where cid=#{k_cid} 
		limit #{k_index},#{k_pagesize}
	</select>
	
	<select id="selectPropertyByIdName" resultType="int">
		select count(*) from property
		where name=#{0} and cid=#{1}
	</select>
	
	<insert id="savePropertyById" >
		insert into property (name,cid)
		values(#{0},#{1})
	</insert>
	
	<delete id="deletePropertyById" parameterType="int">
		delete from property 
		where id=#{id}
	</delete>
	
	<select id="selectPropertyName" parameterType="int" resultType="Property">
		select * from property 
		where id=#{id}
	</select>
	
	<update id="updatePropertyById" >
		update property set name=#{0}
		where id=#{1}
	</update>
		<resultMap type="PropertyValue" id="VM">
			<result property="id" column="id"/>
			<result property="pid" column="pid"/>
			<result property="ptid" column="ptid"/>
			<result property="value" column="value"/>
		</resultMap>

	
	
	
	<select id="getPropertiesById" parameterType="int" resultMap="PVM">
		select t.ptname, ptv.value, ptv.ptid tptid from propertyvalue ptv
		right outer join 
		(select pt.id ptid, pt.name ptname from property pt where cid=#{cid})t
		on ptv.ptid=t.ptid
		and ptv.pid=#{pid}
	</select>
	<resultMap type="Property" id="PVM">
		<result property="id" column="tptid"/>
		<result property="name" column="ptname"/>
		<association property="propertyValue" javaType="PropertyValue"   resultMap="ProValue"  >
		</association>
	</resultMap>
	
	<resultMap type="PropertyValue" id="ProValue">
			<result property="value" column="value"/>
		</resultMap>
	
	<update id="updataPropertieById" parameterType="PropertyValue">	
	
		update PropertyValue
		set value=#{value}
		where id=#{id}
	
	
	</update>
	
	
	
</mapper>













