<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java10.Tmall.model.mapper.PropertyMapper" >
	
	
	<select id="selectProperty" resultType="Property">
		select * from property where id=1 
	</select>
</mapper>













