.breadcrumb {
	margin-top: 20px;
	width: 1344px;
	margin-left: 40px;
}

.form-group p {
	text-align: center;
}

span {
	color: white;
}

form {
	width: 400px;
}

#f1{
	margin-left: 198px;
}
#t1{
	display: inline;
}
#f2{
	position: absolute;
	top: 150px;
	right: 198px;
}
/*label {
	text-align: center;
}*/

#but1,
#but2 {
	text-align: center;
}


#f1 a,#f2 a{
	text-decoration: none;
	
	
}
#f2 a span{
	text-align:center;
}
#table{
	padding-top: 350px;
}
#table1{
	margin-top: 100px;
	margin-left: 40px;
	width: 400px;
}
#table2{
	margin-top: 100px;
	position: relative;
	left: 200px;
	width: 400px;
}
.form-group{
	text-align: center;
}
